# Google Drive Service Account Configuration (Server-Side Only - Required in Vercel Environment Variables)
GOOGLE_SERVICE_ACCOUNT_EMAIL=photography-website@gen-lang-client-0384572044.iam.gserviceaccount.com
GOOGLE_DRIVE_FOLDER_ID=1aIpNO6qb1Ms0CJSexv7ebdPomu0JmEdC
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
